<div class="container">
  
  <h1>Hello there</h1>

  <div *ngIf="!auth.isLoggedIn()"> <p>Won't you please <a routerLink="/login">sign in</a> or <a routerLink="/register">register</a>?</p></div>
<br>
<br>
<br>

<div class="container">
  <div class="row">
      <div class="col-md-3">
          <div class="product-item">
            <div class="pi-img-wrapper">
              <img src="http://keenthemes.com/assets/bootsnipp/k1.jpg" class="img-responsive" alt="Berry Lace Dress">
              <div>
                <a href="#" class="btn">Zoom</a>
                <a href="#" class="btn">View</a>
              </div>
            </div>
            <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
            <div class="pi-price">$29.00</div>
            <a href="javascript:;" class="btn add2cart">Add to cart</a>
            <div class="sticker sticker-new"></div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="product-item">
            <div class="pi-img-wrapper">
              <img src="http://keenthemes.com/assets/bootsnipp/k2.jpg" class="img-responsive" alt="Berry Lace Dress">
              <div>
                <a href="#" class="btn">Zoom</a>
                <a href="#" class="btn">View</a>
              </div>
            </div>
            <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
            <div class="pi-price">$29.00</div>
            <a href="javascript:;" class="btn add2cart">Add to cart</a>
          </div>
      </div>
      <div class="col-md-3">
          <div class="product-item">
            <div class="pi-img-wrapper">
              <img src="http://keenthemes.com/assets/bootsnipp/k3.jpg" class="img-responsive" alt="Berry Lace Dress">
              <div>
                <a href="#" class="btn">Zoom</a>
                <a href="#" class="btn">View</a>
              </div>
            </div>
            <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
            <div class="pi-price">$29.00</div>
            <a href="javascript:;" class="btn add2cart">Add to cart</a>
          </div>
      </div>
      <div class="col-md-3">
          <div class="product-item">
            <div class="pi-img-wrapper">
              <img src="http://keenthemes.com/assets/bootsnipp/k3.jpg" class="img-responsive" alt="Berry Lace Dress">
              <div>
                <a href="#" class="btn">Zoom</a>
                <a href="#" class="btn">View</a>
              </div>
            </div>
            <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
            <div class="pi-price">$29.00</div>
            <a href="javascript:;" class="btn add2cart">Add to cart</a>
          </div>
      </div>
  </div>
</div>
<br>
<br>

<br>
<br>




</div>


